<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>王者荣耀封面下载器</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="root"><%- __html__ %></div>
    <script type="text/javascript"></script>
  <script type="text/javascript" src="/static/app.js"></script></body>
</html>
