@charset "utf-8";
@import "./reset.less";

html {
    //background: #ececec;
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-text-size-adjust: none;
    word-break: break-all;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background: #f0f2f5;
}

.ant-layout-content{
    width: 960px;
    margin: 19px auto;
}

.ant-table{
    table{
        text-align: center;
        th{
            font-size: 16px;
            text-align: center;
        }
        td{
            text-align: center;
        }
    }
}

p {
    color: #333;
    line-height: 36px;
    border: none;
    outline: none;
    max-height: 100%; // avoid Text Autosizer 
}
h3 {
    line-height: 36px;
    max-height: 100%;
}

.cf() {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

// 垂直居中的模态框
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}
  
.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
  
.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}