@import '../../style/common.less';

.home-content-container{

  .home-header{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    .search{
      .ant-input-suffix{
        cursor: pointer;
      }
    }
  }

  .thumb{
    width: 120px;
  }
}

.modal-download{
  text-align: center;
  
  .color-red{
    color: red;
  }
}