@import '../../style/common.less';

.home-header-container{
  color: #fff;

  .home-header-container-content{
    width: 960px;
    margin:0 auto;

    .logo{
      float: left;
      height: 45px;
      margin-top: 10px;
    }

    .search{
      float: left;
      margin-left: 30px;
    }

    .user-info{
      float: right;
      font-size: 14px;

      .ant-dropdown-link{
        display: inline;
      }

      i{
        margin-left: 15px;
      }
      span{
        margin-left: 5px;
      }
    }
  }
}